<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index.html</title>
</head>
<body>
    <div>
        <h1>
            Hello Fastapi
        </h1>
        <p>
            오늘의 운세 : {{fortuneToday}}
        </p>
        <p> 나의 이름: 송민기</p>
        <h2>공지사항</h2>
        <ul>
            <li>
                불금입니다
            </li>
            <li>
                창창창창창창
            </li>
        </ul>
        <h3>예시</h3>
    </div>
    
</body>
</html>